@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

.wrapper{
    width: 1620px;
    padding: 0 10px;
    margin: 0 auto;
    min-height: 100%;
}

/* Hader */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s; /* Задержка для visibility */
    z-index: 5;
}

/* Навигация */
.header__nav {
    top: 0;
    display: flex;
    transition: right 0.3s ease;
    z-index: 10;
}

/* Для активного состояния меню */
.header__nav.active {
    right: 0; /* Показываем меню */
}

/* Для оверлея при активном состоянии */
.overlay.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

/* Для кнопки бургера на мобильных устройствах */
.header__burger {
    display: none; /* Скрыто по умолчанию */
    width: 50px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.header__burger span,
.header__burger span::before,
.header__burger span::after {
    display: block;
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    transition: 0.3s ease;
}

.header__burger span::before {
    content: '';
    top: 11px;
}

.header__burger span::after {
    content: '';
    bottom: -22px;
}


/* Затемнение экрана */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 5;
}

.header__nav.active {
    right: 0;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin: 70px 0;
}

.header__logo {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Jura', sans-serif;
    letter-spacing: 6px;
}

.header__block {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.header__nav {
    display: flex;
    align-items: center;
    transition: .3s ease all;
}

.header__nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-left: 60px;
}

.header__nav a:hover {
    color: #888;
}

.header__language {
    width: min-content;
}

.header__language button {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 7px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-left: 53px;
}

.header__language button:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Стилі для кнопки "Написати нам" */
.header__contact {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    transition: transform 0.3s ease;
}

.header__contact:hover {
    transform: scale(1.05);
}

.main__block {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    overflow: hidden; /* Чтобы картинка не выходила за пределы экрана */
    color: #fff;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 92%;
    margin: 0 auto;
}

.main__text {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 64px;
    max-width: 15em;
}

.main__subcontent {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    margin-top: 43px;
}

.subcontent__subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 22px;
    word-wrap: break-word;
    white-space: normal;
    max-width: 60%;
    text-align: left;
    letter-spacing: 0.05em;
}

button.block__button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 25px 35px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 24px;
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    transition: transform 0.3s ease;
    position: relative;
}

button.block__button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(104, 35, 255, 1);
    border-radius: 50px;
    rotate: 5.37deg;
}

.main__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/img/bg1600.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.block__features {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: #fff;
    min-height: 131px;
    margin: 100px auto;
    border-radius: 0.5rem;
    font-family: 'Lato', sans-serif;
    backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.1);
}

.item__feature {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    flex: 1;
    font-weight: 400;
    max-width: fit-content;
}

.item__feature p {
    font-weight: 700;
    margin-bottom: 15px;
}

.item__feature span {
    font-weight: 400;
}

.divider {
    height: 100px; /* висота лінії */
    width: 1px; /* ширина лінії */
    background-color: #fff; /* напівпрозорий білий */
}

/* Не зволікай */

.second__block {
    position: relative;
    width: calc(100vw + 10px);
    min-height: 352px;
    margin-left: calc(-50vw + 50% - 10px);
    background: url("../assets/img/block.svg") no-repeat center center;
}

.second__block .main__text {
    position: absolute;
    width: 50%;
    max-width: 100%; !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.third__block {
    margin-bottom: 300px;
}

.block__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 16px;
    margin: 100px 0 50px 0;
}

.item__card {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border: 1px solid rgba(104, 35, 255, 1);
    border-radius: 15px;
    z-index: -2;
}

.item__title {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Jura', sans-serif;
}

.item__text {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
}

.item__circle {
    position: absolute;
    top: -8px;
    left: -10px;
    width: 50px;
    aspect-ratio: 1/1;
    background-color: rgba(104, 35, 255, 1);
    border-radius: 50%;
    z-index: -1;
}

.item__card:nth-child(1), .item__card:nth-child(4), .item__card:nth-child(5) {
    color: #fff;

}

.item__card:nth-child(2), .item__card:nth-child(3), .item__card:nth-child(6) {
    color: #000;
    background-color: #fff;
}

.third__block .block__button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 330px;
}

/* Адаптив */

@media (width <= 1600px) {
    .wrapper {
        width: 1200px;
    }
    .header__block {
        width: 75%;
    }
    .main__block {
        width: 85%;
    }
    .block__features {
        max-width: 90%;
    }
    .main__text {
        font-size: 50px;
    }
    .second__block .main__text {
        font-size: 50px;
    }
}

@media (width <= 1200px) {
    .wrapper {
        width: 100%;
    }
    .header__logo {
        font-size: 36px;
    }
    .header__block {
        width: 350px;
    }
    .header__burger {
        display: block;
    }

    /* На мобильных устройствах скрываем обычное меню */
    .header__nav {
        position: fixed;
        top: 0;
        right: -100%; /* Скрыто за экраном справа */
        width: 40vw;
        height: 100vh;
        background-color: #000;
        flex-direction: column;
        padding-top: 60px; /* Отступ от верхней панели */
        transition: right 0.3s ease;
        z-index: 10;
    }
    .header__nav a,
    .header__language{
        margin: 50px 0 0 50px;
        width: 100%;
    }
    .header__language button {
        margin: 0;
    }
    .main__text {
        font-size: 50px;
    }
    .second__block .main__text {
        width: 75%;
    }
}

@media (width <= 768px) {
    .wrapper {
        padding: 0 20px;
    }
    .header {
        margin: 30px 0;
    }
    .header__logo {
        font-size: 32px;
    }
    .main__subcontent {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .subcontent__subtitle {
        text-align: center;
        margin: 30px 0 30px 0;
        font-size: 20px;
    }
    .main__block {
        width: 100%;
        margin-bottom: 20px;
        height: 120vh;
    }
    .main__text {
        font-size: 45px;
    }

    .block__features {
        flex-direction: column;
        align-items: center;
        width: 320px;
        min-height: 407px;
        justify-content: space-around;
    }
    .divider {
        width: 90%;
        height: 1px;
    }
    .item__feature {
        flex: 0;
    }
    .second__block .main__text {
        font-size: 40px;
    }
    .second__block {
        background: url("../assets/img/block768.svg") no-repeat center center;
    }
    .block__cards {
        grid-template-columns: 1fr;
    }
}

@media (width <= 480px) {
    .header__logo {
        font-size: 24px;
    }
    .second__block .main__text {
        font-size: 32px;
    }
    .main__block {
        height: 1300px;
    }
    .main__text {
        font-size: 32px;
    }
}
